body{
	color: #000;
	font-family: helvetica, arial, sans-serif;
	font-size: 1.018rem;

	@media (max-width: 376px){
		font-size: 0.95rem;
	}
}

body::-webkit-scrollbar { 
    display: none; 
    width:0px
}

.banner-main{
	background-image: url("../img/background-main.jpg");
	background-position: center left;
	color: #fff;
	text-align: center;
	padding: 63px 0 80px 0;

	@media (max-width: 376px){
		padding: 30px 0 42px 0;
	}

	h1{
		font-family: 'Montserrat';
		font-size: 2.5em;
		font-weight: 900;
		text-transform: uppercase;

		@media (max-width: 376px){
		}
	}
	p{
		font-size: 1.11em;
		line-height: 1.7em;
	}
	button{
		cursor: pointer;
		line-height: 1em;
		padding: 13px 17px 15px 17px;
		font-size: 19px;
		border-radius: 6px;
	}
}
.information{
	
	.row{
		padding: 34px 10px;
		margin: 0px;
	}	
	h3{
		font-size: 16px;
		color: #000;
		text-align: center;
		margin-bottom: 16px;
	    font-weight: bold;
	    line-height: 1.45em;

		small{
			display: block;
			color: #000;
			margin-top: 2px;
		}
	}
	p{
		line-height: 1.48em;
	}

}
